

body {
    background-color: #FAF7FD;
}

.imagem_perfil {
    width: 20%;
    height: 5%;
    border: 2px;
    border-style: solid;
    border-color: #BB99DD;
    box-sizing: border-box;
    border-radius: 50%
}


div {
    text-align: center;
    margin-top: 10%;
}
