body {
    color: brown;
    font-family: 'Comfortaa', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Source Sans Pro', sans-serif;
}